[net]
subdivisions=1
inputs=5
batch = 1
momentum=0.3
decay=0.002
max_batches = 20000
time_steps=1
learning_rate=0.05
policy=steps
steps=1000,1500
scales=.1,.1

[connected]
output=64
activation=linear

//[dropout]
//probability=.5

[connected]
output=128
activation=linear


#[connected]
#output=64
#activation=relu


#[dropout]
#probability=.5

[connected]
output=20
activation=relu

[softmax]
groups=1

[cost]
type=sse

